body {
    background-color: lightslategrey;
    background-image: url(../css/pictures/backgroundimg.png);
}

.my-index {
    background-color: rgba(119, 136, 153, 0.473);
    padding: 25px 25px;
    position: relative;
}

.my-contact {
    background-color: rgba(119, 136, 153, 0.473);
    padding: 25px 25px;
    position: relative;
}

.my-portfolio {
    background-color: rgba(119, 136, 153, 0.473);
    padding: 25px 25px;
    position: relative;
}

.text-wrap {
    color: white;
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
}

#about-pic {
    float: left;
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    margin-right: 15px;
}

h1 {
    color: #2c7d52;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner {
    position: relative;
}

.break {
    height: 3px;
    background-color: #24292e;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #24292e;
    color: white;
    text-align: center;
}

.copyright {
    text-align: center;
}