body {
    background-c: ;
}
/* change body to background image
body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
} */

#about-pic {
    float: left;
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    margin-right: 15px;
}